.igConnectButton {
    background-color: #f07662;
    border: 0;
    color: white;
    border-radius: 100px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
    font-weight: 900;
}