.home {
    background-color: #3f51b5;
}

.homeBg {
    position: absolute;
    top: 63px;
    right: 0;
}

.content {
    position: relative;
    padding: 52px 33px 30px 33px;
    color: white;
}

.heading {
    max-width: 212px;
    font-size: 30px;
    margin-bottom: 115px;
    font-weight: 900;
    line-height: 1.34;
    letter-spacing: 1.5px;
}

.description {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.9px;
}

.cta {
    display: flex;
    margin-top: 44px;
    align-items: center;
    justify-content: center;
}

.ctaButton {
    border: 0;
    color: white;
    border-radius: 100px;
    padding: 9px;
    font-weight: 900;
    border-radius: 10px;
}

.ctaDescription {
    position: relative;
    padding: 30px 35px;
    background-color: #f07662;
    line-height: 1.25;
    letter-spacing: 0.3px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.ctaDescriptionArrow {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}

.moreArrow {
    margin-top: 20px;
    text-align: center;
}