.home {

}

.content {
    background-color: #3f51b5;
    padding: 52px 33px 30px 33px;
    color: white;
}

.heading {
    margin-bottom: 17px;
}

.description {
    margin-bottom: 0;
    font-size: 18px;
}

.cta {
    margin-top: 64px;
}

.moreArrow {
    margin-top: 20px;
    text-align: center;
}